.h2 {
  text-align: center;
  font-size: 50px;
  color: whitesmoke;
  text-shadow: 0 0 5px crimson;
  padding: 10vh 0;
}
section {
  min-height: 90vh;
  color: whitesmoke;
  padding: 10px;

  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}
.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  gap: 20px;

  border: 2px solid crimson;
  border-radius: 10px;
  width: 350px;
  height: 400px;

  margin: 10px 0;
  padding: 20px 0;

  overflow-y: scroll;
}
.userInfo p {
  max-width: 250px;
  color: gainsboro;
}
.userInfo header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 250px;
  text-align: center;
}
.userInfo figure {
  background-color: gainsboro;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  border-radius: 100%;
  overflow: hidden;
}
.userInfo h2 {
  color: whitesmoke;
  text-shadow: 0 0 20px crimson, 0 0 3px rgb(0, 0, 99), 0 0 20px black;
  letter-spacing: 4px;
  font-weight: 900;
}
