form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 350px;
}
form label {
  font-size: 30px;
}
form input {
  font-size: 25px;
  min-height: 35px;
}
form input:last-child {
  margin-top: 20px;
  font-size: 30px;
  font-weight: 900;
  text-shadow: 0 0 3px aqua, 0 0 5px aqua;
  color: black;
  border-radius: 50px;
  border: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
